html{
    background-color: silver;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
.parent{
    margin: auto;
    margin-top: 5%;
    width: 70vw;
    padding: 20px;
    box-sizing: border-box;
    height: fit-content;
}

.left{
    float: left;
    width: 30%;
}

.right{
    float: right;
    width: 65%;
}

.card{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.card img{
    
    width: 30%;
    margin: auto;
    margin-top: 5px;
}
.card h1,h2,h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.card p{
    padding-left: 20px;
    padding-right: 20px;
}
.card a{
    text-decoration: none;
    color: inherit;
}

.card a:hover{
    color: black;
}
.name{
    font-family: "Helvetica";
    font-weight: normal;
}

.webname{
    font-family: "Helvetica";
    font-weight: normal;
    text-align: left;
}

.link{
    font-family: "Garamond";
    font-weight: normal;
    color: rgb(122, 122, 122);
    float: right;
}

.details{
    font-family: "Garamond";
    font-weight: normal;
    color: rgb(122, 122, 122);
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.column {
    float: left;
    width: 50%;
    margin-left: 5px;
  }
  

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
